@use './variables' as vars;

.ant-modal-content{
    background: vars.$dask-bg-card !important;
    .ant-modal-header{
        background-color: transparent;
        .ant-modal-title{
            color: vars.$dask-text-primary !important;
        }
    }
    .ant-modal-close-x{
        svg{
            color: vars.$dask-text-primary !important;
        }
    }
}


