@use './variables' as vars;

.dashboard {
    .content-dashboard {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1rem;

        .stats-grid {
            width: calc(20% - .5rem);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media screen and (max-width: 1200px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: 576px) {
                grid-template-columns: 1fr;
            }

            .stat-card {
                width: 100%;
                background: vars.$dask-bg-card;
                border-radius: 8px;
                padding: 1rem 1rem;
                box-shadow: 0 2px 8px vars.$dask-box-shadow;
                transition: all 0.3s ease;

                &:hover {
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
                }

                .stat-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: .75rem;

                    .stat-icon {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: .5rem;

                        span {
                            color: vars.$dask-text-primary;
                            font-size: 1rem;
                        }

                        svg {
                            font-size: 20px;
                            color: vars.$dask-button-primary-bg;
                        }

                    }

                    .desc {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-end;

                        h2 {
                            font-size: 19px;
                            font-weight: 500;
                            color: vars.$dask-text-primary;
                            margin: 0;
                        }
                    }
                }

                @media (max-width: 768px) {
                    width: calc(50% - .5rem);
                }
            }
            @media (max-width: 768px) {
                width: 100%;
            }
        }
        
        .links-data {
            width: calc(80% - .5rem);
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1024px) {
    .dashboard-container {
        .statistics-charts {
            grid-template-columns: 1fr;
        }
    }
}