.statistics {
    .statistics-content {
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 768px) {
        .statistics-content {
            .search-box {
                padding: 1rem;
            }

            .ant-table-wrapper {
                padding: 1rem;
            }
        }
    }
}